# idea ignore
.idea/
*.ipr
*.iml
*.iws

.vscode/
.air.toml
vendor

# project
config.yaml
coverage.cov

**/__debug*
gen.tool

src/controller/script/baseinfo/
src/controller/script/db-sync-data/
src/controller/script/devnet/
src/controller/script/kupo-db/
src/controller/script/postgres/
